src/test/resources/test-mule-config.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:cifs="http://www.mulesoft.org/schema/mule/cifs"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/cifs http://www.mulesoft.org/schema/mule/cifs/current/mule-cifs.xsd">

    <cifs:config name="config" 
        username="joeuser" 
        password="password123"
        host="localhost"
        folder="d$/FileDropTest"
        domain="SOMEDOMAIN">
    </cifs:config>
    
    <flow name="readFileFlow">
        <cifs:read-file config-ref="config" fileName="test.xml"/>
        <logger level="INFO" message="READ_FILE_TEST:"/>
        <logger level="INFO" message="#[payload]"/>
    </flow>

    <flow name="readFilesFlow">
        <cifs:read-files config-ref="config" fileNamePattern="*.xml"/>
        <logger level="INFO" message="READ_FILES_TEST:"/>
        <logger level="INFO" message="#[payload]"/>
    </flow>

    <flow name="readFileNamesFlow">
        <cifs:read-file-names config-ref="config" fileNamePattern="*.xml"/>
        <logger level="INFO" message="READ_FILE_NAMES_TEST:"/>
        <logger level="INFO" message="#[payload]"/>
    </flow>

    <flow name="saveFileFlow">
        <cifs:read-file config-ref="config" fileName="test.xml"/>
        <cifs:save-file config-ref="config" fileName="delete-test.xml" payload="#[payload]" />
        <cifs:read-file config-ref="config" fileName="delete-test.xml"/>
        <logger level="INFO" message="SAVE_FILE_TEST:"/>
        <logger level="INFO" message="#[payload]"/>
    </flow>

    <flow name="deleteFileFlow">
        <cifs:delete-file config-ref="config" fileName="delete-test.xml"/>
    </flow>

</mule>
